.container {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.side-panel {
    background-color: grey;
    width: 200px;
    height: 800px;

    display: flex;
    justify-content: end;
    align-items: end;
}
.main-panel {
    background-color: lightgrey;
    width: 800px;
    height: 800px;
}

.grid-container {
    width: 100%;
    height: 100%;
}

.collapse-button {
    transform: rotate(90deg);
}
.collapesed-button {
    transform: rotate(270deg);
}
.collapesed
{
    width: 75px;
}