.container {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.side-panel {
    background-color: grey;
    width: 200px;
    height: 800px;

    display: flex;
    justify-content: end;
    align-items: end;
}
.main-panel {
    background-color: lightgrey;
    width: 800px;
    height: 800px;
}

.grid-cell {
    background-color: grey;
    flex: 1 0 auto;
    border: 2px solid red;
}

.collapse-button {
    transform: rotate(90deg);
}
.collapesed-button {
    transform: rotate(270deg);
}

.collapesed {
    width: 75px;
}
.hover-effect {
    background-color: yellow;
}